<div class='container-fluid mt-5 blog-container'>
    <div class='blog-list'>

        <h2>{{blog.title}}</h2>
        <h4>posted by: {{blog.user.dataValues.username}} on {{format_date blog.createdAt}}</h4>
        <p>{{blog.content}}</p>

    </div>
</div>
<div class='container-fluid mt-5 blog-container'>
    <div>

        <h2>Comments</h2>
        {{#each blog.comments as |comment|}}
        <p>{{comment.dataValues.comment}} <br>
            -- {{comment.dataValues.comment_user}} on {{format_date comment.dataValues.created_at}}
        </p>

        {{/each}}
    </div>
</div>
{{!-- <div class='container-fluid mt-5 custom-button'>
    <button type='button' class='btn btn-primary'>Comment</button>
</div> --}}
{{#if showActions}}
<div class='container-fluid mt-5 custom-button' id='update-btn'>
    <a class='btn btn-primary' href='/blog/{{blog.id}}/edit'>Update</a>
</div>
<div class='container-fluid mt-5 custom-button'>
    <button type='button' class='btn btn-primary' id='delete-btn' data-id='{{blog.id}}'>Delete</button>
</div>
{{/if}}


{{#if loggedIn}}
<form class='container-fluid mt-5 custom-button' id='new-comment-form' data-blog-id='{{blog.id}}'>
    <div class=' mb-3'>
        <label for='comment' class='form-label'>Comment:</label>
        <textarea cols='150' rows='5' class='form-control' id='comment'></textarea>
    </div>

    </div>
    <div class=' container-fluid mt-5 custom-button'>
        <button type='submit' class='btn btn-primary' id=''>Comment</button>
</form>
{{/if}}

<script src=' ../js/comment.js'></script>
<script src='../js/delete.js'></script>
<script src='../js/logout.js'></script>