{{!-- <section class="card">
    <a href="/blog/{{id}}">
        <header>{{blog.title}}</header>
    </a>
    <h5>{{blog.user.dataValues.username}}</h5>
    <p>{{blog.content}}</p>
    {{#each blog.comments as |comment|}}
    <p>{{comment.dataValues.comment}}</p>
    <h5>{{comment.dataValues.comment_user}}</h5>
    {{/each}}
</section> --}}

<div class='container-fluid mt-5 blog-container'>
    <div class='blog-list'>

        <h2>{{blog.title}}</h2>

        <h4>posted by: {{blog.user.dataValues.username}}</h4>
        <p>{{blog.content}}</p>

    </div>
</div>
<div class='container-fluid mt-5 blog-container'>
    <div>

        <h2>Comments</h2>
        {{#each blog.comments as |comment|}}
        <p>{{comment.dataValues.comment}}</p>
        {{/each}}
    </div>
</div>
<div class='container-fluid mt-5 custom-button'>
    <button type="button" class="btn btn-primary">Comment</button>
</div>
<div class='container-fluid mt-5 custom-button'>
    <button type="button" class="btn btn-primary">Update</button>
</div>
<div class='container-fluid mt-5 custom-button'>
    <button type="button" class="btn btn-primary" id="delete-btn" data-id='{{blog.id}}'>Delete</button>
</div>

<script src='../js/delete.js'></script>